.channels a {
	text-decoration:none
}

.channels button {
	display: flex;
	flex-direction: column;
	margin-top: 5px;
	width: 100%;
	text-align: left;
	border: none;
	border-radius: 14px;
	font-size: 20px;
}

#kekw {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: auto;
}

form {
	margin-top: auto;
}

form input {
	width: 89%;
}

form button {
	width: 10%;
	margin: auto;
}

.message {
	display: flex;
	flex-direction: row;
}

.message + .message {
	margin-top: 5px;
}

.username {
	font-weight: 600;
	color: black;
	/* text-decoration: none; */
}

.profilePicture {
	display: flex;
	flex-direction: column;
	width: 38px;
	height: 38px;
	border-radius: 50%;
}

.banner {
	display: flex;
	flex-direction: row;
	background-color: #c2c9d6;
	border-radius: 14px;
	text-align: center;
	margin-left: 0px;
}

.banner h3 {
	margin-left: auto;
	margin-right: auto;
}

.banner button {
	align-self: center;
	margin-right: 5px;
	border-radius: 50%;
	border: none;
	width: 30px;
	height: 30px;
	font-size: 23px;

}
