.create-popup {
	position: fixed;
	/* top: 75px;
	right: 30px; */
	width: 20%;
	height: auto;

	display: flex;
	justify-content: center;
	align-items: center;
}

.create-popup-inner {
	position: relative;
	padding: 15px;
	width: 100%;
	max-width: 640px;
	background-color: #8f96a3;
	border-radius: 14px;
}

.create-popup-inner .create-close-btn {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 25px;
	height: 25px;
	border: none;
	border-radius: 50%;
}

.create-form input[type="text"] {
	display: flex;
	flex-direction: column;
	width: 98%;
}

.create-form-end {
	display: flex;
	flex-direction: row;
}

.create-form input[type="button"] {
	margin-left: auto;
}

.create-title {
	text-align: center;
}
