.friend-card {
	display: flex;
	flex-direction: column;
	gap: var(--margin-medium);

	/* flex-wrap: wrap;
	flex-grow: 1; */

	align-content: center;
	align-items: center;

	background-color: var(--color-light);

	padding: var(--border-radius-large);

	border-radius: var(--border-radius-large);
}
