.profile-style {
	position: relative;

	align-items: center;
}

.profile-content {
	display: flex;
	flex-direction: column;
	gap: var(--margin-medium);

	min-width: 256px;
}

.wins-losses {
	display: flex;
	gap: var(--margin-medium);
}

.box {	
	flex-grow: 1;
	flex-basis: 0;
	
	background-color: var(--color-medium);

	/* border: 1.5px solid var(--color-medium-dark); */
	
	text-align: center;

	padding-top: 6px;
	padding-right: 14px;
	padding-bottom: 6px;
	padding-left: 14px;

	border-radius: var(--border-radius-small);
}

.number {
	font-weight: 600;
}

.big-number-won {
	color: var(--color-dark);
	font-size: 32px;
	font-weight:500;
	font-style: normal;
}

.big-number-lose {
	color: var(--color-dark-soft);
	font-size: 32px;
	font-weight:500;
	font-style: normal;
}

.game-history-title-style {
	flex-shrink: 0;
}

.game-result-container {
	display: flex;	
	flex-direction: column;
	overflow-y: auto;
	gap: var(--margin-medium);
}

.game-result {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;

	background-color: var(--color-medium);
	font-family: var(--font-family-principal);

	border-radius: var(--border-radius-small);
}

.game-result-item-start {
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: flex-start;
	padding-left: 16px;
}

.game-result-item-end {
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: flex-end;
	padding-right: 16px;
}

.game-result-item-middle {
	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	width: 100%;
}

.left {
	position: absolute;
	left: 50%;
	transform: translateX(calc(-100% - 32px));
}
  
.right {
	position: absolute;
	right: 50%;
	transform: translateX(calc(100% + 32px));
}

::-webkit-scrollbar {
	width: 24px;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: var(--color-medium-dark);
	border-radius: 100px;
	border: 8px solid transparent;
	background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
	background:var(--color-dark-soft);
	border-radius: 100px;
	border: 7px solid transparent;
	background-clip: padding-box;
}

.picture-container {
	opacity: 1;
}

.picture-overlay-background {
	position: absolute;
	top: 32px;
	left: 50%;
	transform: translateX(-50%);

	padding: 0px;

	width: 256px;
	height: 256px;
	
	background: linear-gradient(180deg, rgba(54, 53, 51, 0.00) 0%, #363533 100%);
	border-style: solid;
	border-width: 0px;
	border-color: transparent;
	border-radius: 999px;

	cursor: pointer;

	opacity: 0;

	transition:
		opacity 0.2s;
}

.picture-overlay-background:hover {
	opacity: 1;
}

.picture-overlay-text {
	position: relative;
	
	top: 15%;

	white-space: nowrap;

	color: var(--color-light);
	font-family: var(--font-family-principal);
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	text-shadow: 0px 1px 14px var(--color-dark);
	letter-spacing: 0.33px;

	transition:
		top 0.4s,
		opacity 0.2s;

	opacity: 0;	
}

.picture-overlay-background:hover .picture-overlay-text {
	top: 2%;
	opacity: 1;
}